*.pem
studying
.env
DS_Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.terraform
# Terraform directories
.terraform.lock.hcl

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

*.tfvars
*.tfvars.json
*variables*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore other Terraform-related files
*.tfstate
*.tfstate.*
terraform.tfstate.backup